# Top-most EditorConfig file
root = true

# Unix-style newlines
[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

# Text HTML and Twig Giles
[*.{txt,html,twig}]
indent_size = 2

# SASS and CSS files
[{*.css,*.scss,*.less}]
indent_size = 2

# JavaScript files
[*.{js,ts,jsx}]
indent_size = 2

[*.{php}]
indent_size = 4

# Bash Files
[*.sh]
end_of_line = lf

# JSON Files
[*.{json,json5,webmanifest}]
indent_size = 2

# Setup Files
[{package.json,.travis.yml}]
indent_size = 2

# YAML Files
[*.{yml,yaml}]
indent_size = 2

# Markdown Files
[*.md]
indent_size = 2
trim_trailing_whitespace = false
